[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
selenium = "*"

[dev-packages]
black = "==18.6b4"
pytest = "*"
pytest-twisted = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
